get_news_rss.json
{
  "name": "get_news",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1072,
        368
      ],
      "id": "435d4d7c-a0a1-4a29-bb06-3c940880d06e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $('set rss AI source').item.json.feed }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -32,
        400
      ],
      "id": "54399569-f20c-4946-9737-747c84823c6c",
      "name": "RSS Read",
      "executeOnce": false,
      "notesInFlow": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput",
      "notes": "error"
    },
    {
      "parameters": {
        "maxItems": "=5"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -32,
        176
      ],
      "id": "b99427f2-75a0-4ae4-a631-3766119d1bdb",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -480,
        368
      ],
      "id": "23b5ea34-9ffc-4f16-9b9e-1585d4b99164",
      "name": "Loop"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c26c35ee-65b1-4bf9-b249-5799af8dc06e",
              "leftValue": "={{ $('RSS Read').item.json.pubDate }}",
              "rightValue": "={{ DateTime.now().minus({days:3}) }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            },
            {
              "id": "cc076920-09ef-4a8e-a224-8e0a7b785e9a",
              "leftValue": "={{ $('RSS Read').item.json.pubDate }}",
              "rightValue": "={{ DateTime.now() }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        272
      ],
      "id": "2990849e-3f11-4a5d-a180-c99440020fee",
      "name": "Filter result"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f07a149-1fd3-4d10-b84b-4d392d2dedee",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "a6d653e0-ddde-473b-a42c-727670efe6f5",
              "name": "title",
              "value": "={{ $('Limit').item.json.title }}",
              "type": "string"
            },
            {
              "id": "571f5cce-123c-419a-86d4-3ea32a5e06f9",
              "name": "link",
              "value": "={{ $('Limit').item.json.link }}",
              "type": "string"
            },
            {
              "id": "b92fa15f-757a-464b-9d22-06ebdf499e9b",
              "name": "pubDate",
              "value": "={{ $('Limit').item.json.pubDate }}",
              "type": "string"
            },
            {
              "id": "c8be65c2-f31d-433c-862f-c488e7b32c3d",
              "name": "categories",
              "value": "={{ $('Limit').item.json.categories }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        320
      ],
      "id": "05438277-ac12-4752-9b21-46f70fcda9ea",
      "name": "edit result"
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:add",
        "app_toke": "SJV8b5A4La7DBoskNnsc5d0onud",
        "table_id": "tblM7nJIJaYp9wCg",
        "body": "={\"fields\":{\"title\":\"{{$json.title}}\",\"link\":\"{{$json.link}}\",\"日期\":\"{{$json.pubDate}}\",\"content\":\"{{$json.text.toString().replace(/[@!#$%^&*:/\"]/g, '').replace(/[\\n\\\\n]/g,'')}}\",\"分类\":{{$json.categories}}}}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        880,
        400
      ],
      "id": "16742a3d-e796-4158-8910-660bd14aad61",
      "name": "write sheet",
      "notesInFlow": false,
      "credentials": {
        "feishuCredentialsApi": {
          "id": "IIWlKRrVYSXurR32",
          "name": "Feishu Credentials account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "写入Excel失败"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"json\":{\"feed\":\"https://blog.google/technology/ai/rss/\"}\n  },\n  {\n    \"json\":{\"feed\":\"https://venturebeat.com/category/ai/feed/\"}\n  },\n  {\n    \"json\":{\"feed\":\"https://techcrunch.com/category/artificial-intelligence/feed/\"}\n  },\n  {\n    \"json\":{\"feed\":\"https://the-decoder.com/feed/\"}\n  },\n  {\n    \"json\":{\"feed\":\"https://www.technologyreview.com/topic/artificial-intelligence/feed/\"}\n  },\n  {\n    \"json\":{\"feed\":\"https://export.arxiv.org/rss/cs.AI\"}\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        368
      ],
      "id": "0bf8bb1c-9780-44ec-b077-3172ae197196",
      "name": "set rss AI source"
    },
    {
      "parameters": {
        "content": "1.http request获取网页，也可以通过firecrawl接口调用.firecrawl可以本地搭建\n2.可以通过curl调用大模模型",
        "height": 128,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -144
      ],
      "id": "7e7b82a9-91f7-4805-b3e8-757351abdda7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "【平台就绪+摘要模式】AI新闻处理规范\n1. **内容处理**（可访问时）：\n   ### 第一层：平台速递（≤130字）\n   🔥 **爆点标题**（<15字，含「关键数据」）\n   💎 **核心价值**（≤50字：技术突破+受益方）\n   🚀 **行业影响**（≤30字：规则改变/趋势）\n   🏷️ 话题标签：#AI #[领域] #[机构创新]\n\n   ### 第二层：深度摘要（280-320字）\n   [1] **技术深解**（100字）：\n      - 创新原理（如：动态计算路径）\n      - 性能对比（较前代/竞品提升）\n   [2] **落地路线**（80字）：\n      - 具体应用场景\n      - 部署时间表\n   [3] **生态影响**（100字）：\n      - 产业链变动\n      - 标准/政策演进\n\n3. **输出规范**：\n   - 速递层 → 单段文本（适配社交媒体）\n   - 摘要层 → Markdown分段（保留结构）\n   - 双链接：\n     🔗 速览版：平台适配文案\n     📚 完整版：带摘要内容\n\n2. **数据强化**：\n   ✓ 技术指标用「」标注（如「98.7%」）\n   ✓ 新增「对比数据表」（当有竞品时）\n   ✓ 关键日期用〖 〗标注（如〖Q3部署〗）"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        592,
        656
      ],
      "id": "24a62844-e5c6-4e5c-9073-8afd1aeb15b2",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen/Qwen2.5-14B-Instruct",
          "mode": "list",
          "cachedResultName": "Qwen/Qwen2.5-14B-Instruct"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        608
      ],
      "id": "54646f0f-1f96-451a-b9c5-5b73db9861f6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wWeoZyekI6xHzwpq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.link }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        144,
        128
      ],
      "id": "3c101ebf-1665-416d-a094-15345ace2076",
      "name": "Scrape a url and get its content",
      "credentials": {
        "firecrawlApi": {
          "id": "dKiCQQxID8bdRIR7",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        80
      ],
      "id": "a72e1f67-4486-48a4-9bd8-136a7aba1028",
      "name": "fetch content",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        96
      ],
      "id": "6e775f7e-afa8-4f22-b9b8-33f7b6ecb689",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NHPFqWUKYx16dO5b",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Limit').item.json.link }}",
        "messages": {
          "messageValues": [
            {
              "message": "=【平台就绪+摘要模式】AI新闻处理规范\n1. **内容处理**（可访问时）：\n   ### 第一层：平台速递（≤130字）\n   🔥 **爆点标题**（<15字，含「关键数据」）\n   💎 **核心价值**（≤50字：技术突破+受益方）\n   🚀 **行业影响**（≤30字：规则改变/趋势）\n   🏷️ 话题标签：#AI #[领域] #[机构创新]\n\n   ### 第二层：深度摘要（280-320字）\n   [1] **技术深解**（100字）：\n      - 创新原理（如：动态计算路径）\n      - 性能对比（较前代/竞品提升）\n   [2] **落地路线**（80字）：\n      - 具体应用场景\n      - 部署时间表\n   [3] **生态影响**（100字）：\n      - 产业链变动\n      - 标准/政策演进\n\n3. **输出规范**：\n   - 速递层 → 单段文本（适配社交媒体）\n   - 摘要层 → Markdown分段（保留结构）\n   - 双链接：\n     🔗 速览版：平台适配文案\n     📚 完整版：带摘要内容\n\n2. **数据强化**：\n   ✓ 技术指标用「」标注（如「98.7%」）\n   ✓ 新增「对比数据表」（当有竞品时）\n   ✓ 关键日期用〖 〗标注（如〖Q3部署〗）"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        320,
        288
      ],
      "id": "fd0c70d9-40ea-47b8-a599-1a7d087e501e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        880
      ],
      "id": "15435fa1-2cfe-4b81-878c-9f4ecb991e16",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Hwad49qmAGjJKpHs",
          "name": "Gemini Api in Claw Cloud"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "set rss AI source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Scrape a url and get its content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Filter result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter result": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit result": {
      "main": [
        [
          {
            "node": "write sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set rss AI source": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Scrape a url and get its content": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch content": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "edit result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "baf4f4a8-3503-4f87-a1e3-da91472ed5db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e04505ff6806fb3b564ed22fec254bb20ab4d51277f47989bc694b257e5d98e9"
  },
  "id": "mbfrIzNxTPDtd4Df",
  "tags": []
}